@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Poetry */
article {
  break-after: page;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:hymn"] p {
  text-align: initial;
  text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:hymn"] p + p {
  margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:hymn"] p > span {
  display: block;
  padding-left: 1em;
  text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br {
  display: none;
}

p span.i1, p span.i2, p span.i3, p span.i4, p span.i5, 
p span.i6, p span.i7, p span.i8, p span.i9, p span.i10 {
  text-indent: -1em;
}

p span.i1 { padding-left: 2em; }
p span.i2 { padding-left: 3em; }
p span.i3 { padding-left: 4em; }
p span.i4 { padding-left: 5em; }
p span.i5 { padding-left: 6em; }
p span.i6 { padding-left: 7em; }
p span.i7 { padding-left: 8em; }
p span.i8 { padding-left: 9em; }
p span.i9 { padding-left: 10em; }
p span.i10 { padding-left: 11em; }

.dl2 span:first-child {
  vertical-align: 100%;
}

[epub|type~="z3998:poem"] hgroup p,
[epub|type~="z3998:song"] hgroup p,
[epub|type~="z3998:hymn"] hgroup p {
  text-align: center;
}

[epub|type~="z3998:poem"] div header,
[epub|type~="z3998:song"] div header,
[epub|type~="z3998:hymn"] div header {
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 1em;
}

[epub|type~="z3998:poem"] div header p,
[epub|type~="z3998:song"] div header p,
[epub|type~="z3998:hymn"] div header p {
  text-align: center;
}

[epub|type~="z3998:poem"] div,
[epub|type~="z3998:song"] div,
[epub|type~="z3998:hymn"] div {
  margin-top: 1em;
}

/* Bridgeheads */
[epub|type~="z3998:introductory-note"],
[epub|type~="bridgehead"] {
  display: inline-block;
  font-style: italic;
  max-width: 60%;
  text-align: justify;
  text-indent: 0;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"] {
  text-align: justify;
}

/* Epigraphs */
[epub|type~="epigraph"] {
  font-style: italic;
  hyphens: none;
  -epub-hyphens: none;
}

[epub|type~="epigraph"] cite {
  font-style: normal;
  font-variant: small-caps;
  margin-top: 1em;
}

[epub|type~="epigraph"] cite i {
  font-style: italic;
}

article > header [epub|type~="epigraph"] {
  display: inline-block;
  margin: auto;
  max-width: 80%;
  text-align: initial;
}

@supports(display: table) {
  article > header [epub|type~="epigraph"] {
    display: table;
  }
}

/* Footers */
footer {
  margin-top: 1em;
  text-align: right;
}

[epub|type~="z3998:signature"] {
  font-variant: small-caps;
}

[epub|type~="z3998:poem"] footer p,
[epub|type~="z3998:song"] footer p,
[epub|type~="z3998:hymn"] footer p {
  margin-right: 1em;
  margin-top: 1em;
  text-align: right;
}

/* Italicized Text */
p[xml|lang],
header[xml|lang],
blockquote[xml|lang],
h2[xml|lang],
q,
#for-katrinas-window div span,
#the-masters-voice p:nth-of-type(even),
#the-builders div:nth-of-type(9) p:nth-of-type(2) span:nth-of-type(n+2),
#the-anglers-reveille p:nth-of-type(even) span:nth-of-type(n+5),
#the-ruby-crowned-kinglet div p:nth-of-type(2),
#america-for-me p:nth-of-type(2),
#america-for-me p:nth-of-type(6),
#the-hermit-thrush p:nth-of-type(2),
#the-window p:nth-of-type(even),
#three-prayers-for-sleep-and-waking div > p:last-child,
#americas-welcome-home p:nth-of-type(2),
#americas-welcome-home p:nth-of-type(6),
#the-surrender-of-the-german-fleet p:nth-of-type(2),
#the-surrender-of-the-german-fleet p:nth-of-type(6),
#the-foolish-fir-tree p:first-child,
#who-follow-the-flag div:nth-of-type(1) > p:last-child,
#who-follow-the-flag div:nth-of-type(2) > p:last-child,
#who-follow-the-flag div:nth-of-type(7) > p:last-child {
  font-style: italic;
}
