@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Poetry */
article,
section{
	break-after: page;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:hymn"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.i9{
	padding-left: 10em;
	text-indent: -1em;
}

p span.i10{
	padding-left: 11em;
	text-indent: -1em;
}

.dl2 span:first-child{
	vertical-align: 100%;
}

[epub|type~="z3998:poem"] hgroup p,
[epub|type~="z3998:song"] hgroup p,
[epub|type~="z3998:hymn"] hgroup p{
	text-align: center;
}

[epub|type~="z3998:song"] div header p{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* Bridgeheads */
[epub|type~="z3998:introductory-note"],
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"]{
	text-align: justify;
}

/* Epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

header [epub|type~="epigraph"] cite{
	font-variant: small-caps;
}

article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}

/* Footers */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] footer p,
[epub|type~="z3998:song"] footer p,
[epub|type~="z3998:hymn"] footer p{
	font-style: italic;
	margin-right: 1em;
	margin-top: 1em;
	text-align: right;
}
